//scss-variable
$combo-color:#3cddc9;
$main-color:#ebf0f1;
$secondary-color:#31485f;
$widget-color:#444;
$white-color:#fff;



body,
html {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

.container {
  height: 100%;
  width: 100%;
}

//navbar content

.navbar {
  border: 1px solid #e2e2e2;
  height: 60px;
}

.navbar__username {
  float: right;
  line-height: 60px;
  padding-right: 20px;
}

.navbar::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar__logo {  
  display: inline-block;
  margin-left: 3%;
  vertical-align: middle;
}

.menubar-hamburger {
  display: none;
  float: right;

  img {
    height: 50px;
    position: relative;
    top: 10px;
    width: 50px;
    }
}

.hamburger-content {
  background-color: $main-color;
  border: 1px solid #ccc;
  display: none;
  padding: 10px 15px;
  position: absolute;
  right: 10px;
  width: 200px;
  z-index: 1;

  p {
    color: $widget-color;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 0;
    text-transform: uppercase;
  }
}

.hamburger-content p:hover {
  color: #999;
}

.menubar-hamburger:hover .hamburger-content {
  display: block;
}


//sidebar content
.sidebar {
  background-color: $secondary-color;
  height: 100%;
  padding: 20px;
}

.dropdown-menu {
  background-color: $combo-color;
  border: 0;
  color: $white-color;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  margin: auto;
  outline: none;
  padding: 10px;
  width: 100%;
}

.dropdown__content {
  background-color: #f9f9f9;
  display: none;
  left: 20px;
  position: absolute;
  width: 248px;
  z-index: 1;

  a {
    color: $widget-color;
    display: block;
    font-size: 15px;
    padding: 5px 10px;
    }
}

.dropdown__content a:hover {
  color: $combo-color;
}

.dropdown-menu:hover .dropdown__content {
  display: block;
}

.sidebar__options-first {
  background-color: #223343;
  height: 100%;
  margin: 20px 0;
}

.options__block {
  display: table;
  padding: 15px 20px 0;

  p {
    display: table-cell;
    vertical-align: middle;
    color: $white-color;
    padding-left: 20px;
  }

  img {
    display: table-cell;
    vertical-align: middle;
  }
}

.sidebar__location_image {
  background-color: #00AEF2;
  border-radius: 50%;
  display: table-cell;
  height: 35px;
  vertical-align: middle;
  width: 35px;

  i {
    color: $white-color;
    font-size: 20px;
    left: 7px;
    position: relative;
    top: 2px;
  }
}

.options__block-content {
  background: #005878;
  margin: 20px;
  padding: 5px 10px;
}

.block__content-heading {
  color: $white-color;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
  border-bottom: 1px solid;
  width: 70px;
}

.block-content {

  p {
    color: $white-color;
    display: inline-block;
    font-size: 13px;
    width: 100px;
  }

  span {
    color: $white-color;
    font-size: 13px;
  }
}

.sidebar__options-menu {
  color: $white-color;
  display: table;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 25px;

  p {
    color: #f4f4f4;
    display: table-cell;
    font-size: 16px;
    letter-spacing: .3px;
    padding-left: 20px;
    vertical-align: middle;
  }

  img {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
  }
}

// main-bar content

.mainbar {
  background-color: #EBF0F1;
  height: 100%;
  padding: 20px;
}

.mainbar__tags {
  background-color: $white-color;
  padding: 20px 0;
}

.tags__data {
    text-align: center;

  p {
    color: #333;
    font-size: 15px;
    }
}

.tags__data_value {
  display: table;
  margin: 15px auto 0;

  p {
    display: table-cell;
    font-size: 20px;
    padding-left: 10px;
  }
}

.left-border {
  border-left: 2px solid #e2e2e2;
}

.partner__heading {
  color: #333;
  display: inline-block;
  font-size: 18px;
  letter-spacing: .3px;
  text-transform: capitalize;       
}

.partner__subheading {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding-left: 15px;
}

.mainbar__filters {
  margin: 30px 0;

  span {
    background-color: $widget-color;
    border-radius: 2px;
    color: $white-color;
    display: inline-table;
    padding: 5px 10px;

    p {
      display: table-cell;
      height: 20px;
      padding-left: 3px;
      vertical-align: middle;
    }
    i {
      padding-right: 10px;
    }
  }
}

.filter-buttons {
  display: inline-block;
  float: right;
}

.mainbar__cards-section {
  margin: 0 20px;
}

.mainbar__card {
  background: $white-color;
  margin: 20px;
}

.card__heading_holder {
  background-color: #e2e2e2;
  height: 100px;
}

.card_heading {
  color: #333;
  font-size: 16px;
  letter-spacing: .3px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;  
}

.card_sub-heading {
  background: #999;
  color: #f2f2f2;
  margin: 5px auto;
  text-align: center;
  width: 70px;
  }

.card_image {
  background: url('../assets/redberries.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #ccc;
  height: 70px;
  margin: 10px auto;
  width: 70px;
  overflow: hidden;
}

.card__info {
  margin:40px 20px;
  padding-bottom: 20px;

  button {
    border-radius: 2px;
    color: $white-color;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
    padding: 7px;
    width: 45%;
    
  }
}

.inactive_button {
  background-color: #ccc;
  margin-right: 10px;
}

.active_button {
  background-color: $combo-color;
}

.runs-product {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .3px;
  margin: 5px 10px;

  span {
    float: right;
  }
}

.horizontal-line {
  border-bottom: 1px solid #ccc;
  margin: 15px auto;
  width: 80%;
}

.analysis__heading {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
}

.analysis__temp, .analysis__points {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
  width: 48%;

  p {
    font-size: 18px;
    font-weight: 600;
  }

  span {
    color: #333;
    font-size: 14px;
    letter-spacing: .3px;
  }
}

.card__compare, .card__details {
  color: $widget-color;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
}

//media queries

@media only screen and (max-width: 900px) {
  .sidebar-hide {
    display: none;
    }

  .mainbar-100 {
    width: 100% !important;
  }

  .menubar-hamburger {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .mainbar__card {
    margin: auto;
    width: 70%;
  }
  .filter-buttons {
    float: none;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 570px){
  .mainbar__card {
    margin: auto;
    width: 400px;
  }
}
@media only screen and (max-width: 470px){
  .mainbar__card {
    width: 300px;
  }

  .navbar__logo {
    width: 150px;
  }
}

@media only screen and (max-width: 380px){
  .mainbar {
    padding: 0;
  }

  .mainbar__filters span {
    margin-top: 10px;
  }
}
